<h2>Países</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item"
        routerLinkActive="active"
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true}">
        Inicio
    </li>
    <li class="list-group-item"
        routerLinkActive="active"
        routerLink="about">
        Sobre nosotros
    </li>
    <li class="list-group-item"
        routerLinkActive="active"
        routerLink="contact">
        Contacto
    </li>
    <li class="list-group-item"
        routerLinkActive="active"
        routerLink="countries/by-country">
        Países
    </li>
    <li class="list-group-item"
        routerLinkActive="active"
        routerLink="countries/by-capital">
        Por capital
    </li>
    <li class="list-group-item"
        routerLinkActive="active"
        routerLink="countries/by-region">
        Por región
    </li>
</ul>
